@charset "UTF-8";
input {
  width:400px;
  height:20px;
  font-size:16px;
}
select {
  width:400px;
  height:20px;
  font-size:16px;
}
button{
	background: #3498DB;
	color: white;
}
.header{
	display: grid;
  	place-items: center;
}
.main{
	font-family: "굴림체";
	font-size: 20px;
	font-weight: bold;
	display: grid;
  	place-items: center;
}
.CRUD {
	display: grid;
	place-items: center;
}
.button_CRUD {
	background: #3498DB;
	color: white;
	font-size: 40px;
	width: 250px;
	height: 80px;
}