<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
    <typeAlias type="com.multi.cdb.yPolicy.YPolicyVO" alias="yPolicyVO"></typeAlias>
    <typeAlias type="com.multi.cdb.yPolicy.PageVO" alias="pageVO"></typeAlias>
		<typeAlias type="com.multi.cdb.scrap.ScrapVO" alias = "scrapVO"></typeAlias>
		<typeAlias type="com.multi.cdb.member.MemberVO" alias = "memberVO"></typeAlias>
		<typeAlias type="com.multi.cdb.house.BorrowVO" alias="borrowVO" />
		<typeAlias type="com.multi.cdb.house.BuyVO" alias="buyVO" />
		<typeAlias type="com.multi.cdb.house.PageVO" alias="pageVO" />
	</typeAliases>
	
	<mappers>
    <mapper resource="mapper/yPolicyMapper.xml" />
		<mapper resource="mapper/scrapMapper.xml" />
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/borrowMapper.xml" />
		<mapper resource="mapper/buyMapper.xml" />
	</mappers>
</configuration>