<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

   <typeAliases>
      <typeAlias type="com.multi.cdb.yPolicy.YPolicyVO" alias="yPolicyVO"></typeAlias>
      <typeAlias type="com.multi.cdb.job.JobVO" alias="jobVO"></typeAlias>
      <typeAlias type="com.multi.cdb.job.PageVO" alias="pageVO"></typeAlias>
   </typeAliases>
   <mappers>
      <mapper resource="mapper/yPolicyMapper.xml" />
      <mapper resource="mapper/jobMapper.xml" /> 
   </mappers>
</configuration>
