<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="borrow">

	<!-- 공공 api 가져와서 데이터 insert -->
	<insert id="insert" parameterType="borrowVO">
		insert into borrow values
		(null, #{br_pbid}, #{br_suplyhoco}, #{br_housesn},
		#{br_state},
		#{br_pbname}, #{br_suplyint}, #{br_housetype}, #{br_suplytype},
		#{br_recrude}, #{br_winannde}, #{br_url}, #{br_brtc}, #{br_signgu},
		#{br_fulladdr}, #{br_hsmp}, #{br_totalhshold}, #{br_sumsuplyco},
		#{br_rentgtn}, #{br_entity}, #{br_prtpay}, #{br_surlus},
		#{br_monthrent}, #{br_beginde}, #{br_end},#{br_refrnc})
	</insert>
	
	<!-- 전체 데이터 조회 -->
	<select id="all" resultType="borrowVO">
		select distinct br_pbname, br_suplytype, br_housetype,br_brtc, br_recrude, br_winannde, br_suplyint, br_pbid from borrow
	</select>
	
	<!-- 광역시로 조회 -->
	<select id="city" parameterType="string" resultType="borrowVO">
		select distinct br_pbname, br_pbid, br_suplytype, br_winannde, br_recrude, br_brtc, br_suplyint, br_housetype from borrow where br_brtc=#{br_brtc}
	</select>

	<!-- 공고 아이디와 광역시로 조회 -->
	<select id="detail" parameterType="Map" resultType="borrowVO">
		select *
		from borrow where br_pbid=#{br_pbid} and br_brtc=#{br_brtc}
	</select>

	<!-- 중복된 공고명 하나만 select -->
	<select id="show_pbname" parameterType="borrowVO" resultType="string">
		select br_pbname from borrow where br_pbid=#{br_pbid} limit 1
	</select>
	
	<select id="count" resultType="Integer">
		select count(*) from borrow
	</select>
	
	<select id="paging" parameterType="pageVO" resultType="borrowVO">
		select * from (
			select row_number() over(order by br_sequence desc)	as borrow_no,
			b.*
			from borrow b) b2
			where b2.borrow_no between #{start} and #{end}
	</select>

	
</mapper>