<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buy">

	<insert id="insert" parameterType="buyVO">
		insert into buy values (null,
		#{by_pbid}, #{by_housesn}, #{by_state}, #{by_pbname}, #{by_suplyint},
		#{by_housetype}, #{by_recrude}, #{by_winannde}, #{by_url}, #{by_brtc},
		#{by_signgu}, #{by_fulladdr}, #{by_hsmp}, #{by_sumsuplyco},
		#{by_entity}, #{by_prtpay}, #{by_surlus}, #{by_beginde}, #{by_end},
		#{by_refer})
	</insert>

	<select id="sel_list" parameterType="buyVO" resultType="buyVO">
		select * from buy where br_brtc=#{br_brtc} and br_signgu=#{br_signgu}
	</select>
</mapper>