<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yp">
    <!-- API로 호출한 데이터 DB에 저장 -->
	<insert id="insert" parameterType="yPolicyVO">
	insert into YP values (#{YP_ID}, #{YP_NAME}, #{YP_PI}, #{YP_INFO}, #{YP_CATEGORY}, #{YP_SSIZE}, #{YP_CONTENT}, #{YP_RQMAGE}, #{YP_RQMJOB}, #{YP_RQMEDU}, #{YP_RQMMAJR}, #{YP_RQMFIELD}, #{YP_AI}, #{YP_PERIOD}, #{YP_PROCEDURE}, #{YP_ANM}, #{YP_URL}, NULL, NULL)
	</insert>
	<!-- 전체 정책 리스트(정책유형, 정책명, 기관구분) -->
	<select id="all" resultType="yPolicyVO">
	select YP_CATEGORY, YP_NAME, YP_PI from YP
	</select>
	<!-- 유형별 전체 정책 리스트(정책유형, 정책명, 기관구분) -->
	<select id="selectOne" parameterType="yPolicyVO" resultType="yPolicyVO">
	select YP_CATEGORY, YP_NAME, YP_PI from YP where YP_CATEGORY = #{YP_CATEGORY}
	</select>
	<!-- 상세검색 -->
	<select id="search" parameterType="yPolicyVO" resultType="yPolicyVO">
	select YP_CATEGORY, YP_NAME, YP_PI from YP where YP_NAME = #{YP_NAME} and YP_CATEGORY = #{YP_CATEGORY} and YP_REGION = #{YP_REGION}
	</select>
	<!-- 상세페이지 -->
	<select id="detailOne" parameterType="yPolicyVO" resultType="yPolicyVO">
	select * from YP where YP_NAME = #{YP_NAME}
	</select>

</mapper>
